# Ігнорування файлів і директорій віртуального оточення
venv/
.env

# Конфігураційні файли
*.env
*.ini
*.cfg

# Файли баз даних
*.sqlite3
*.db

# Логи
*.log

# Ігнорування згенерованих файлів
__pycache__/
*.py[cod]
*.so

# Ігнорування папки для кешу
.cache/
.pytest_cache/

# Ігнорування налаштувань IDE
.vscode/
.idea/

# Ігнорування Docker-файлів і контейнерів
docker-compose.override.yml
.env.db
*.db_data/

# Ігнорування файлів, згенерованих системою
.DS_Store
Thumbs.db
